
.DS_Store
codeforces/.ipynb_checkpoints/Untitled-checkpoint.ipynb
codeforces/Untitled.ipynb
CodeSignal/.ipynb_checkpoints/Untitled-checkpoint.ipynb
CodeSignal/Untitled.ipynb

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/

# Ignore log files
*.log

# Ignore environment files
.env

